*.sketch filter=lfs diff=lfs merge=lfs -text
images/*.* filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/*.png filter=lfs diff=lfs merge=lfs -text
iVarsom/DangerLevelAssets.xcassets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/*.png filter=lfs diff=lfs merge=lfs -text
fastlane/**/*.png filter=lfs diff=lfs merge=lfs -text
