*.sketch filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x-1.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40-1.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x-1.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsom/Assets.xcassets/AppIcon.appiconset/Icon-App-iTunes.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x-1.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40-1.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x-1.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40.png filter=lfs diff=lfs merge=lfs -text
iVarsomWidget/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png filter=lfs diff=lfs merge=lfs -text
